{%extends "base.html"%} {%block title%} Lista produktów {%endblock%} {%block
content%}
<ul class="product-list">
  {% for product in products %}
  <li class="product-item">
    <a href="{{ url_for('product', product_id=product['id']) }}"
      >{{product.product_id}}</a
    >
    <span>{{product.product_name}}</span>
    <span class="opinions_count">{{product.opinions_count}}</span>
    <span class="pros_count">{{product.pros_count}}</span>
    <span class="cons_count">{{product.cons_count}}</span>
    <span class="average_stars">{{product.average_stars|round(2)}}</span>
    <a type="button" href="#"></a>
    <a type="button" href="#"></a>
    <a type="button" href="#"></a>
  </li>
  {% endfor %}
</ul>
{%endblock%}